apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 66.2.0
    helm:
      values: |
        grafana:
          adminPassword: "admin"
          service:
            type: ClusterIP
          # --- ADD THIS SECTION BELOW ---
          additionalDataSources:
            - name: Loki
              type: loki
              uid: loki
              url: http://loki-stack.monitoring.svc:3100
              access: proxy
              isDefault: false
              jsonData:
                derivedFields:
                  - datasourceUid: loki
                    matcherRegex: "traceID=(\\w+)"
                    name: TraceID
                    url: "$${__value.raw}"
        # ------------------------------
        prometheus:
          prometheusSpec:
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: hcloud-volumes
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 10Gi
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true