apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  {{- if not .Values.autoscaling.backend.enabled }}
  replicas: 1
  {{- end }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      {{- if .Values.podAntiAffinity.enabled }}
      affinity:
        podAntiAffinity:
          {{- if eq .Values.podAntiAffinity.type "hard" }}
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app: backend
            topologyKey: kubernetes.io/hostname
          {{- else }}
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app: backend
              topologyKey: kubernetes.io/hostname
          {{- end }}
      {{- end }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 6 }}
      containers:
      - name: backend
        image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
        imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.backend.service.port }}
        envFrom:
        - secretRef:
            name: app-env
        env:
        - name: PORT
          value: "{{ .Values.backend.service.port }}"
        resources:
          limits:
            cpu: "1000m"
            memory: {{ .Values.backend.resources.limits.memory }}
          requests:
            cpu: "200m"
            memory: {{ .Values.backend.resources.requests.memory }}
        readinessProbe:
          tcpSocket:
            port: {{ .Values.backend.service.port }}
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: {{ .Values.backend.service.port }}
          initialDelaySeconds: 15
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
  - port: {{ .Values.backend.service.port }}
    targetPort: {{ .Values.backend.service.port }}
