apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
spec:
  {{- if not .Values.autoscaling.frontend.enabled }}
  replicas: 1
  {{- end }}
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      {{- if .Values.podAntiAffinity.enabled }}
      affinity:
        podAntiAffinity:
          {{- if eq .Values.podAntiAffinity.type "hard" }}
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app: ui
            topologyKey: kubernetes.io/hostname
          {{- else }}
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app: ui
              topologyKey: kubernetes.io/hostname
          {{- end }}
      {{- end }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 6 }}
      containers:
      - name: frontend
        image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
        imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.frontend.service.port }}
        envFrom:
        - configMapRef:
            name: frontend-config
        resources:
          limits:
            cpu: "500m"
            memory: {{ .Values.frontend.resources.limits.memory }}
          requests:
            cpu: "100m"
            memory: {{ .Values.frontend.resources.requests.memory }}
        readinessProbe:
          tcpSocket:
            port: {{ .Values.frontend.service.port }}
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: {{ .Values.frontend.service.port }}
          initialDelaySeconds: 15
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: ui
spec:
  selector:
    app: ui
  ports:
  - port: {{ .Values.frontend.service.port }}
    targetPort: {{ .Values.frontend.service.port }}
